.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
  /* Безопасные зоны для iOS */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* mobile Safari */
@supports (-webkit-touch-callout: none) {
  .App {
    min-height: -webkit-fill-available;
  }
}